.pulse {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation: pulse 2s infinite ease-in-out;
    -moz-animation: pulse 2s infinite ease-in-out;
    -o-animation: pulse 2s infinite ease-in-out;
    -ms-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}
.popup {
    background: #000;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 480px;
    margin-left: -320px;
    margin-top: -240px;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.layover {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.fadeout {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.popup, .layover {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}
img {
    max-width: 100%;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Raleway, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #20202a;
}
body, html, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h2 {
    text-align: center;
}
p {
    text-align: justify;
    -webkit-hyphens: auto;
    padding: 0 0 1em 0;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.twitter-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0iIzlGOUZBQiIgY3g9IjYwIiBjeT0iNjAiIHI9IjYwIi8+Cgk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNODkuNzUsNDEuNTQ3Yy0yLjE4OSwwLjk3MS00LjU0MywxLjYyNy03LjAxMiwxLjkyMmMyLjUyLTEuNTExLDQuNDU3LTMuOTAyLDUuMzY3LTYuNzU0CgkJYy0yLjM1OSwxLjM5OS00Ljk3MSwyLjQxNS03Ljc1MiwyLjk2M2MtMi4yMjctMi4zNzMtNS4zOTgtMy44NTUtOC45MS0zLjg1NWMtNi43NDIsMC0xMi4yMDcsNS40NjYtMTIuMjA3LDEyLjIwOAoJCWMwLDAuOTU2LDAuMTA3LDEuODg4LDAuMzE2LDIuNzgxYy0xMC4xNDUtMC41MS0xOS4xMzktNS4zNjktMjUuMTU4LTEyLjc1NGMtMS4wNTMsMS44MDItMS42NTQsMy44OTgtMS42NTQsNi4xMzYKCQljMCw0LjIzNSwyLjE1Niw3Ljk3MSw1LjQzLDEwLjE2Yy0yLjAwMi0wLjA2Mi0zLjg4NS0wLjYxMi01LjUyOS0xLjUyNWMwLDAuMDUxLDAsMC4xMDEsMCwwLjE1M2MwLDUuOTE1LDQuMjA5LDEwLjg0Nyw5Ljc5MSwxMS45NjgKCQljLTEuMDI1LDAuMjgxLTIuMTA0LDAuNDMtMy4yMTUsMC40M2MtMC43ODUsMC0xLjU1My0wLjA3Ni0yLjI5Ny0wLjIxOWMxLjU1Myw0Ljg1LDYuMDYyLDguMzc5LDExLjQwMiw4LjQ3NwoJCWMtNC4xNzgsMy4yNzUtOS40NDEsNS4yMjctMTUuMTYsNS4yMjdjLTAuOTg0LDAtMS45NTctMC4wNTktMi45MTItMC4xNzJjNS40MDIsMy40NjMsMTEuODE4LDUuNDg2LDE4LjcxMyw1LjQ4NgoJCWMyMi40NTEsMCwzNC43MzItMTguNjAyLDM0LjczMi0zNC43MzNjMC0wLjUyOC0wLjAxNC0xLjA1Ni0wLjAzNS0xLjU3OUM4Ni4wNDMsNDYuMTQ0LDg4LjExMyw0My45OTQsODkuNzUsNDEuNTQ3eiIvPgo8L2c+Cjwvc3ZnPgo=");
}
.twitter-white-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0iI0ZGRkZGRiIgY3g9IjYwIiBjeT0iNjAiIHI9IjYwIi8+Cgk8cGF0aCBmaWxsPSIjOTk5OTk5IiBkPSJNODkuNzUsNDEuNTQ3Yy0yLjE4OSwwLjk3MS00LjU0MywxLjYyNy03LjAxMiwxLjkyMmMyLjUyLTEuNTExLDQuNDU3LTMuOTAyLDUuMzY3LTYuNzU0CgkJYy0yLjM1OSwxLjM5OS00Ljk3MSwyLjQxNS03Ljc1MiwyLjk2M2MtMi4yMjctMi4zNzMtNS4zOTgtMy44NTUtOC45MS0zLjg1NWMtNi43NDIsMC0xMi4yMDcsNS40NjYtMTIuMjA3LDEyLjIwOAoJCWMwLDAuOTU2LDAuMTA3LDEuODg4LDAuMzE2LDIuNzgxYy0xMC4xNDUtMC41MS0xOS4xMzktNS4zNjktMjUuMTU4LTEyLjc1NGMtMS4wNTMsMS44MDItMS42NTQsMy44OTgtMS42NTQsNi4xMzYKCQljMCw0LjIzNSwyLjE1Niw3Ljk3MSw1LjQzLDEwLjE2Yy0yLjAwMi0wLjA2Mi0zLjg4NS0wLjYxMi01LjUyOS0xLjUyNWMwLDAuMDUxLDAsMC4xMDEsMCwwLjE1M2MwLDUuOTE1LDQuMjA5LDEwLjg0Nyw5Ljc5MSwxMS45NjgKCQljLTEuMDI1LDAuMjgxLTIuMTA0LDAuNDMtMy4yMTUsMC40M2MtMC43ODUsMC0xLjU1My0wLjA3Ni0yLjI5Ny0wLjIxOWMxLjU1Myw0Ljg1LDYuMDYyLDguMzc5LDExLjQwMiw4LjQ3NwoJCWMtNC4xNzgsMy4yNzUtOS40NDEsNS4yMjctMTUuMTYsNS4yMjdjLTAuOTg0LDAtMS45NTctMC4wNTktMi45MTItMC4xNzJjNS40MDIsMy40NjMsMTEuODE4LDUuNDg2LDE4LjcxMyw1LjQ4NgoJCWMyMi40NTEsMCwzNC43MzItMTguNjAyLDM0LjczMi0zNC43MzNjMC0wLjUyOC0wLjAxNC0xLjA1Ni0wLjAzNS0xLjU3OUM4Ni4wNDMsNDYuMTQ0LDg4LjExMyw0My45OTQsODkuNzUsNDEuNTQ3eiIvPgo8L2c+Cjwvc3ZnPgo=");
}
.twitter-icon: hover, .twitter-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0iIzAwQUNFRCIgY3g9IjYwIiBjeT0iNjAiIHI9IjYwIi8+Cgk8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNODkuNzUsNDEuNTQ3Yy0yLjE4OSwwLjk3MS00LjU0MywxLjYyNy03LjAxMiwxLjkyMmMyLjUyLTEuNTExLDQuNDU3LTMuOTAyLDUuMzY3LTYuNzU0CgkJYy0yLjM1OSwxLjM5OS00Ljk3MSwyLjQxNS03Ljc1MiwyLjk2M2MtMi4yMjctMi4zNzMtNS4zOTgtMy44NTUtOC45MS0zLjg1NWMtNi43NDIsMC0xMi4yMDcsNS40NjYtMTIuMjA3LDEyLjIwOAoJCWMwLDAuOTU2LDAuMTA3LDEuODg4LDAuMzE2LDIuNzgxYy0xMC4xNDUtMC41MS0xOS4xMzktNS4zNjktMjUuMTU4LTEyLjc1NGMtMS4wNTMsMS44MDItMS42NTQsMy44OTgtMS42NTQsNi4xMzYKCQljMCw0LjIzNSwyLjE1Niw3Ljk3MSw1LjQzLDEwLjE2Yy0yLjAwMi0wLjA2Mi0zLjg4NS0wLjYxMi01LjUyOS0xLjUyNWMwLDAuMDUxLDAsMC4xMDEsMCwwLjE1M2MwLDUuOTE1LDQuMjA5LDEwLjg0Nyw5Ljc5MSwxMS45NjgKCQljLTEuMDI1LDAuMjgxLTIuMTA0LDAuNDMtMy4yMTUsMC40M2MtMC43ODUsMC0xLjU1My0wLjA3Ni0yLjI5Ny0wLjIxOWMxLjU1Myw0Ljg1LDYuMDYyLDguMzc5LDExLjQwMiw4LjQ3NwoJCWMtNC4xNzgsMy4yNzUtOS40NDEsNS4yMjctMTUuMTYsNS4yMjdjLTAuOTg0LDAtMS45NTctMC4wNTktMi45MTItMC4xNzJjNS40MDIsMy40NjMsMTEuODE4LDUuNDg2LDE4LjcxMyw1LjQ4NgoJCWMyMi40NTEsMCwzNC43MzItMTguNjAyLDM0LjczMi0zNC43MzNjMC0wLjUyOC0wLjAxNC0xLjA1Ni0wLjAzNS0xLjU3OUM4Ni4wNDMsNDYuMTQ0LDg4LjExMyw0My45OTQsODkuNzUsNDEuNTQ3eiIvPgo8L2c+Cjwvc3ZnPgo=");
}
.facebook-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjOUY5RkFCIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MFMwLDkzLjEzNywwLDYwUzI0Ljg2NCwwLDYwLDBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxwYXRoIGlkPSJmIiBmaWxsPSIjRkZGRkZGIiBkPSJNNjYuMDgsOTkuMjY0di0zNS44MmgxMi4wMjNsMS44LTEzLjk1OUg2Ni4wOHYtOC45MTNjMC00LjA0MSwxLjEyMy02Ljc5Niw2LjkxNy02Ljc5Nmw3LjM5My0wLjAwMwoJVjIxLjI4OGMtMS4yNzgtMC4xNy01LjY2Ny0wLjU1MS0xMC43NzEtMC41NTFjLTEwLjY1NywwLTE3Ljk1NCw2LjUwNS0xNy45NTQsMTguNDUydjEwLjI5NUgzOS42MXYxMy45NTloMTIuMDU0djM1LjgySDY2LjA4eiIvPgo8L3N2Zz4K");
}
.facebook-white-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBTMCw5My4xMzcsMCw2MFMyNC44NjQsMCw2MCwwQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8cGF0aCBpZD0iZiIgZmlsbD0iIzk5OTk5OSIgZD0iTTY2LjA4LDk5LjI2NHYtMzUuODJoMTIuMDIzbDEuOC0xMy45NTlINjYuMDh2LTguOTEzYzAtNC4wNDEsMS4xMjMtNi43OTYsNi45MTctNi43OTZsNy4zOTMtMC4wMDMKICBWMjEuMjg4Yy0xLjI3OC0wLjE3LTUuNjY3LTAuNTUxLTEwLjc3MS0wLjU1MWMtMTAuNjU3LDAtMTcuOTU0LDYuNTA1LTE3Ljk1NCwxOC40NTJ2MTAuMjk1SDM5LjYxdjEzLjk1OWgxMi4wNTR2MzUuODJINjYuMDh6Ii8+Cjwvc3ZnPgo=");
}
.facebook-icon: hover, .facebook-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjNEE2MjlFIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MFMwLDkzLjEzNywwLDYwUzI0Ljg2NCwwLDYwLDBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxwYXRoIGlkPSJmIiBmaWxsPSIjRkZGRkZGIiBkPSJNNjYuMDgsOTkuMjY0di0zNS44MmgxMi4wMjNsMS44LTEzLjk1OUg2Ni4wOHYtOC45MTNjMC00LjA0MSwxLjEyMy02Ljc5Niw2LjkxNy02Ljc5Nmw3LjM5My0wLjAwMwoJVjIxLjI4OGMtMS4yNzgtMC4xNy01LjY2Ny0wLjU1MS0xMC43NzEtMC41NTFjLTEwLjY1NywwLTE3Ljk1NCw2LjUwNS0xNy45NTQsMTguNDUydjEwLjI5NUgzOS42MXYxMy45NTloMTIuMDU0djM1LjgySDY2LjA4eiIvPgo8L3N2Zz4K");
}
.mail-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjOUY5RkFCIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8ZyBpZD0iWW91cl9JY29uIj4KCTxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik05NC4xNzQsMzguNTIzYy0wLjAyMS0wLjIzMy0wLjA2Mi0wLjQ1OC0wLjEyMS0wLjY3OGMtMC4wMDktMC4wMy0wLjAxNi0wLjA2LTAuMDI0LTAuMDg5CgkJYy0wLjA2NS0wLjIyOC0wLjE1Mi0wLjQ0Ny0wLjI1Ny0wLjY1NWMtMC4wMTItMC4wMjQtMC4wMjEtMC4wNDktMC4wMzQtMC4wNzRjLTAuMTE3LTAuMjIyLTAuMjU0LTAuNDMyLTAuNDA4LTAuNjI4CgkJYy0wLjAwOC0wLjAxLTAuMDExLTAuMDIxLTAuMDE4LTAuMDI5Yy0wLjAwNi0wLjAwNS0wLjAxLTAuMDA4LTAuMDE1LTAuMDEyYy0wLjE2MS0wLjIwMi0wLjM0Mi0wLjM4Ni0wLjU0LTAuNTUyCgkJYy0wLjAwOS0wLjAwOC0wLjAxNy0wLjAxNS0wLjAyNS0wLjAyM2MtMC4yLTAuMTY1LTAuNDE1LTAuMzExLTAuNjQ2LTAuNDM3Yy0wLjAwMSwwLTAuMDAyLTAuMDAxLTAuMDAzLTAuMDAxCgkJYy0wLjQ0My0wLjI0MS0wLjkzNy0wLjM5Ny0xLjQ2LTAuNDU3Yy0wLjAwNS0wLjAwMS0wLjAwOS0wLjAwMi0wLjAxNS0wLjAwMmMtMC4xNDUtMC4wMTYtMC4yOTEtMC4wMjUtMC40MzgtMC4wMjVIMjkuODMyCgkJYy0wLjE0OCwwLTAuMjk1LDAuMDA5LTAuNDQsMC4wMjVjLTAuMDAzLDAtMC4wMDcsMC4wMDEtMC4wMTEsMC4wMDFjLTAuNzk5LDAuMDktMS41MjcsMC40MTEtMi4xMTQsMC44OTYKCQljLTAuMDA3LDAuMDA1LTAuMDEzLDAuMDEzLTAuMDIsMC4wMTljLTAuMTk4LDAuMTY3LTAuMzgxLDAuMzUzLTAuNTQ0LDAuNTU1Yy0wLjAwNCwwLjAwNS0wLjAwOSwwLjAwNy0wLjAxMywwLjAxMgoJCWMtMC4wMDgsMC4wMS0wLjAxMiwwLjAyMS0wLjAyLDAuMDNjLTAuMTUzLDAuMTk2LTAuMjksMC40MDYtMC40MDUsMC42MjhjLTAuMDE1LDAuMDI1LTAuMDIzLDAuMDUtMC4wMzYsMC4wNzQKCQljLTAuMTA0LDAuMjA4LTAuMTksMC40MjgtMC4yNTgsMC42NTZjLTAuMDA5LDAuMDMtMC4wMTQsMC4wNTktMC4wMjIsMC4wODljLTAuMDU5LDAuMjItMC4xMDIsMC40NDUtMC4xMjEsMC42NzgKCQljLTAuMDA0LDAuMDMxLTAuMDAzLDAuMDU5LTAuMDA1LDAuMDljLTAuMDA2LDAuMDg4LTAuMDE1LDAuMTc3LTAuMDE1LDAuMjY4djQyLjIzNmMwLDIuMjIzLDEuODAxLDQuMDIzLDQuMDIzLDQuMDIzSDkwLjE3CgkJYzIuMjIxLDAsNC4wMjEtMS44MDEsNC4wMjEtNC4wMjNWMzguODgxYzAtMC4wOS0wLjAwNy0wLjE3OS0wLjAxNS0wLjI2OEM5NC4xNzUsMzguNTgzLDk0LjE3NywzOC41NTQsOTQuMTc0LDM4LjUyM3oKCQkgTTc4LjcwMyw0Mi45MDRMNjAsNTcuODY1bC0xOC43MDEtMTQuOTZINzguNzAzeiBNMzMuODU0LDc3LjA5NlY0Ny4yNTFsMjMuNjMyLDE4LjkwNWMwLjczNSwwLjU4OCwxLjYyNCwwLjg4MywyLjUxNCwwLjg4MwoJCWMwLjg4OSwwLDEuNzc3LTAuMjk1LDIuNTEzLTAuODgzbDIzLjYzMS0xOC45MDV2MjkuODQ0SDMzLjg1NHoiLz4KPC9nPgo8L3N2Zz4K");
}
.mail-white-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxnIGlkPSJZb3VyX0ljb24iPgogIDxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik05NC4xNzQsMzguNTIzYy0wLjAyMS0wLjIzMy0wLjA2Mi0wLjQ1OC0wLjEyMS0wLjY3OGMtMC4wMDktMC4wMy0wLjAxNi0wLjA2LTAuMDI0LTAuMDg5CiAgICBjLTAuMDY1LTAuMjI4LTAuMTUyLTAuNDQ3LTAuMjU3LTAuNjU1Yy0wLjAxMi0wLjAyNC0wLjAyMS0wLjA0OS0wLjAzNC0wLjA3NGMtMC4xMTctMC4yMjItMC4yNTQtMC40MzItMC40MDgtMC42MjgKICAgIGMtMC4wMDgtMC4wMS0wLjAxMS0wLjAyMS0wLjAxOC0wLjAyOWMtMC4wMDYtMC4wMDUtMC4wMS0wLjAwOC0wLjAxNS0wLjAxMmMtMC4xNjEtMC4yMDItMC4zNDItMC4zODYtMC41NC0wLjU1MgogICAgYy0wLjAwOS0wLjAwOC0wLjAxNy0wLjAxNS0wLjAyNS0wLjAyM2MtMC4yLTAuMTY1LTAuNDE1LTAuMzExLTAuNjQ2LTAuNDM3Yy0wLjAwMSwwLTAuMDAyLTAuMDAxLTAuMDAzLTAuMDAxCiAgICBjLTAuNDQzLTAuMjQxLTAuOTM3LTAuMzk3LTEuNDYtMC40NTdjLTAuMDA1LTAuMDAxLTAuMDA5LTAuMDAyLTAuMDE1LTAuMDAyYy0wLjE0NS0wLjAxNi0wLjI5MS0wLjAyNS0wLjQzOC0wLjAyNUgyOS44MzIKICAgIGMtMC4xNDgsMC0wLjI5NSwwLjAwOS0wLjQ0LDAuMDI1Yy0wLjAwMywwLTAuMDA3LDAuMDAxLTAuMDExLDAuMDAxYy0wLjc5OSwwLjA5LTEuNTI3LDAuNDExLTIuMTE0LDAuODk2CiAgICBjLTAuMDA3LDAuMDA1LTAuMDEzLDAuMDEzLTAuMDIsMC4wMTljLTAuMTk4LDAuMTY3LTAuMzgxLDAuMzUzLTAuNTQ0LDAuNTU1Yy0wLjAwNCwwLjAwNS0wLjAwOSwwLjAwNy0wLjAxMywwLjAxMgogICAgYy0wLjAwOCwwLjAxLTAuMDEyLDAuMDIxLTAuMDIsMC4wM2MtMC4xNTMsMC4xOTYtMC4yOSwwLjQwNi0wLjQwNSwwLjYyOGMtMC4wMTUsMC4wMjUtMC4wMjMsMC4wNS0wLjAzNiwwLjA3NAogICAgYy0wLjEwNCwwLjIwOC0wLjE5LDAuNDI4LTAuMjU4LDAuNjU2Yy0wLjAwOSwwLjAzLTAuMDE0LDAuMDU5LTAuMDIyLDAuMDg5Yy0wLjA1OSwwLjIyLTAuMTAyLDAuNDQ1LTAuMTIxLDAuNjc4CiAgICBjLTAuMDA0LDAuMDMxLTAuMDAzLDAuMDU5LTAuMDA1LDAuMDljLTAuMDA2LDAuMDg4LTAuMDE1LDAuMTc3LTAuMDE1LDAuMjY4djQyLjIzNmMwLDIuMjIzLDEuODAxLDQuMDIzLDQuMDIzLDQuMDIzSDkwLjE3CiAgICBjMi4yMjEsMCw0LjAyMS0xLjgwMSw0LjAyMS00LjAyM1YzOC44ODFjMC0wLjA5LTAuMDA3LTAuMTc5LTAuMDE1LTAuMjY4Qzk0LjE3NSwzOC41ODMsOTQuMTc3LDM4LjU1NCw5NC4xNzQsMzguNTIzegogICAgIE03OC43MDMsNDIuOTA0TDYwLDU3Ljg2NWwtMTguNzAxLTE0Ljk2SDc4LjcwM3ogTTMzLjg1NCw3Ny4wOTZWNDcuMjUxbDIzLjYzMiwxOC45MDVjMC43MzUsMC41ODgsMS42MjQsMC44ODMsMi41MTQsMC44ODMKICAgIGMwLjg4OSwwLDEuNzc3LTAuMjk1LDIuNTEzLTAuODgzbDIzLjYzMS0xOC45MDV2MjkuODQ0SDMzLjg1NHoiLz4KPC9nPgo8L3N2Zz4K");
}
.mail-icon: hover, .mail-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmMzMzMyIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxnIGlkPSJZb3VyX0ljb24iPgogIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik05NC4xNzQsMzguNTIzYy0wLjAyMS0wLjIzMy0wLjA2Mi0wLjQ1OC0wLjEyMS0wLjY3OGMtMC4wMDktMC4wMy0wLjAxNi0wLjA2LTAuMDI0LTAuMDg5CiAgICBjLTAuMDY1LTAuMjI4LTAuMTUyLTAuNDQ3LTAuMjU3LTAuNjU1Yy0wLjAxMi0wLjAyNC0wLjAyMS0wLjA0OS0wLjAzNC0wLjA3NGMtMC4xMTctMC4yMjItMC4yNTQtMC40MzItMC40MDgtMC42MjgKICAgIGMtMC4wMDgtMC4wMS0wLjAxMS0wLjAyMS0wLjAxOC0wLjAyOWMtMC4wMDYtMC4wMDUtMC4wMS0wLjAwOC0wLjAxNS0wLjAxMmMtMC4xNjEtMC4yMDItMC4zNDItMC4zODYtMC41NC0wLjU1MgogICAgYy0wLjAwOS0wLjAwOC0wLjAxNy0wLjAxNS0wLjAyNS0wLjAyM2MtMC4yLTAuMTY1LTAuNDE1LTAuMzExLTAuNjQ2LTAuNDM3Yy0wLjAwMSwwLTAuMDAyLTAuMDAxLTAuMDAzLTAuMDAxCiAgICBjLTAuNDQzLTAuMjQxLTAuOTM3LTAuMzk3LTEuNDYtMC40NTdjLTAuMDA1LTAuMDAxLTAuMDA5LTAuMDAyLTAuMDE1LTAuMDAyYy0wLjE0NS0wLjAxNi0wLjI5MS0wLjAyNS0wLjQzOC0wLjAyNUgyOS44MzIKICAgIGMtMC4xNDgsMC0wLjI5NSwwLjAwOS0wLjQ0LDAuMDI1Yy0wLjAwMywwLTAuMDA3LDAuMDAxLTAuMDExLDAuMDAxYy0wLjc5OSwwLjA5LTEuNTI3LDAuNDExLTIuMTE0LDAuODk2CiAgICBjLTAuMDA3LDAuMDA1LTAuMDEzLDAuMDEzLTAuMDIsMC4wMTljLTAuMTk4LDAuMTY3LTAuMzgxLDAuMzUzLTAuNTQ0LDAuNTU1Yy0wLjAwNCwwLjAwNS0wLjAwOSwwLjAwNy0wLjAxMywwLjAxMgogICAgYy0wLjAwOCwwLjAxLTAuMDEyLDAuMDIxLTAuMDIsMC4wM2MtMC4xNTMsMC4xOTYtMC4yOSwwLjQwNi0wLjQwNSwwLjYyOGMtMC4wMTUsMC4wMjUtMC4wMjMsMC4wNS0wLjAzNiwwLjA3NAogICAgYy0wLjEwNCwwLjIwOC0wLjE5LDAuNDI4LTAuMjU4LDAuNjU2Yy0wLjAwOSwwLjAzLTAuMDE0LDAuMDU5LTAuMDIyLDAuMDg5Yy0wLjA1OSwwLjIyLTAuMTAyLDAuNDQ1LTAuMTIxLDAuNjc4CiAgICBjLTAuMDA0LDAuMDMxLTAuMDAzLDAuMDU5LTAuMDA1LDAuMDljLTAuMDA2LDAuMDg4LTAuMDE1LDAuMTc3LTAuMDE1LDAuMjY4djQyLjIzNmMwLDIuMjIzLDEuODAxLDQuMDIzLDQuMDIzLDQuMDIzSDkwLjE3CiAgICBjMi4yMjEsMCw0LjAyMS0xLjgwMSw0LjAyMS00LjAyM1YzOC44ODFjMC0wLjA5LTAuMDA3LTAuMTc5LTAuMDE1LTAuMjY4Qzk0LjE3NSwzOC41ODMsOTQuMTc3LDM4LjU1NCw5NC4xNzQsMzguNTIzegogICAgIE03OC43MDMsNDIuOTA0TDYwLDU3Ljg2NWwtMTguNzAxLTE0Ljk2SDc4LjcwM3ogTTMzLjg1NCw3Ny4wOTZWNDcuMjUxbDIzLjYzMiwxOC45MDVjMC43MzUsMC41ODgsMS42MjQsMC44ODMsMi41MTQsMC44ODMKICAgIGMwLjg4OSwwLDEuNzc3LTAuMjk1LDIuNTEzLTAuODgzbDIzLjYzMS0xOC45MDV2MjkuODQ0SDMzLjg1NHoiLz4KPC9nPgo8L3N2Zz4K");
}
.phone-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjOUY5RkFCIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8cGF0aCBpZD0icGhvbmUiIGZpbGw9IiNGRkZGRkYiIGQ9Ik03NC44NDcsNjYuODUxYy0xLjA1Ni0wLjY1My0yLjYzOC0wLjQ3My0zLjUzNCwwLjQwN2wtNi45OTUsNi45OTIKCWMtMC44OTUsMC44NzktMi4zMTksMC44NzktMy4xOTgsMEw0NS40MDEsNTguNTI1Yy0wLjg3OS0wLjg4LTAuODc5LTIuMzE4LDAtMy4xOThsNi41ODgtNi41ODZjMC44ODEtMC44OCwxLjAxMS0yLjQzMSwwLjI5Ny0zLjQ0NwoJTDQwLjI5OCwyOC4zMDFjLTAuNzA4LTEuMDE1LTIuMDk1LTEuMjEzLTMuMDY2LTAuNDRjMCwwLTkuMzUxLDcuNDItOS4zNTEsMTQuMjM3YzAsMjcuODk4LDIyLjYxNyw1MC41MTIsNTAuNTEyLDUwLjUxMgoJYzYuODIsMCwxMy40NTMtMTIuNTE0LDEzLjQ1My0xMi41MTRjMC41ODMtMS4wOTgsMC4xOTYtMi41MzgtMC44NTktMy4xOTFMNzQuODQ3LDY2Ljg1MXoiLz4KPC9zdmc+Cg==");
}
.phone-white-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxwYXRoIGlkPSJwaG9uZSIgZmlsbD0iIzk5OTk5OSIgZD0iTTc0Ljg0Nyw2Ni44NTFjLTEuMDU2LTAuNjUzLTIuNjM4LTAuNDczLTMuNTM0LDAuNDA3bC02Ljk5NSw2Ljk5MgogIGMtMC44OTUsMC44NzktMi4zMTksMC44NzktMy4xOTgsMEw0NS40MDEsNTguNTI1Yy0wLjg3OS0wLjg4LTAuODc5LTIuMzE4LDAtMy4xOThsNi41ODgtNi41ODZjMC44ODEtMC44OCwxLjAxMS0yLjQzMSwwLjI5Ny0zLjQ0NwogIEw0MC4yOTgsMjguMzAxYy0wLjcwOC0xLjAxNS0yLjA5NS0xLjIxMy0zLjA2Ni0wLjQ0YzAsMC05LjM1MSw3LjQyLTkuMzUxLDE0LjIzN2MwLDI3Ljg5OCwyMi42MTcsNTAuNTEyLDUwLjUxMiw1MC41MTIKICBjNi44MiwwLDEzLjQ1My0xMi41MTQsMTMuNDUzLTEyLjUxNGMwLjU4My0xLjA5OCwwLjE5Ni0yLjUzOC0wLjg1OS0zLjE5MUw3NC44NDcsNjYuODUxeiIvPgo8L3N2Zz4K");
}
.phone-icon: hover, .phone-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzI4MjgyYiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxwYXRoIGlkPSJwaG9uZSIgZmlsbD0iI0ZGRkZGRiIgZD0iTTc0Ljg0Nyw2Ni44NTFjLTEuMDU2LTAuNjUzLTIuNjM4LTAuNDczLTMuNTM0LDAuNDA3bC02Ljk5NSw2Ljk5MgogIGMtMC44OTUsMC44NzktMi4zMTksMC44NzktMy4xOTgsMEw0NS40MDEsNTguNTI1Yy0wLjg3OS0wLjg4LTAuODc5LTIuMzE4LDAtMy4xOThsNi41ODgtNi41ODZjMC44ODEtMC44OCwxLjAxMS0yLjQzMSwwLjI5Ny0zLjQ0NwogIEw0MC4yOTgsMjguMzAxYy0wLjcwOC0xLjAxNS0yLjA5NS0xLjIxMy0zLjA2Ni0wLjQ0YzAsMC05LjM1MSw3LjQyLTkuMzUxLDE0LjIzN2MwLDI3Ljg5OCwyMi42MTcsNTAuNTEyLDUwLjUxMiw1MC41MTIKICBjNi44MiwwLDEzLjQ1My0xMi41MTQsMTMuNDUzLTEyLjUxNGMwLjU4My0xLjA5OCwwLjE5Ni0yLjUzOC0wLjg1OS0zLjE5MUw3NC44NDcsNjYuODUxeiIvPgo8L3N2Zz4K");
}
.pin-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8cGF0aCBmaWxsPSIjMjgyZDJmIiBkPSJNNjAsMjMuNDc1Yy0xMy42NjUsMC0yNC43NDMsMTEuMDc4LTI0Ljc0MywyNC43NDJjMCwwLjI5MywwLjAwOSwwLjU5MSwwLjAyMiwwLjg5MgoJYzAuMDkzLDIuNTk5LDAuNTgzLDUuMDk1LDEuNDE3LDcuNDMxQzQxLjk3NSw3My44OTMsNjAsOTYuNTI1LDYwLDk2LjUyNXMxOC4wMjUtMjIuNjMzLDIzLjMwMy0zOS45ODMKCWMwLjgzNS0yLjMzNSwxLjMyNC00LjgzNSwxLjQxNy03LjQzNGMwLjAxNS0wLjMwMSwwLjAyMS0wLjU5OCwwLjAyMS0wLjg5MkM4NC43NDMsMzQuNTUzLDczLjY2NSwyMy40NzUsNjAsMjMuNDc1eiBNNjAsNjAuMzM1CgljLTYuNjkyLDAtMTIuMTE4LTUuNDI2LTEyLjExOC0xMi4xMTlDNDcuODgzLDQxLjUyNSw1My4zMDksMzYuMSw2MCwzNi4xYzYuNjkzLDAsMTIuMTE5LDUuNDI2LDEyLjExOSwxMi4xMTcKCUM3Mi4xMTksNTQuOTEsNjYuNjkzLDYwLjMzNSw2MCw2MC4zMzV6Ii8+Cjwvc3ZnPgo=");
}
.pin-white-icon {
    background-image: url("http://jogabo.com/assets/feature-pin-white.svg");
}
.pin-icon:hover, .pin-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzIwMjAyYSIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxwYXRoIGZpbGw9IiNmZjMzMzMiIGQ9Ik02MCwyMy40NzVjLTEzLjY2NSwwLTI0Ljc0MywxMS4wNzgtMjQuNzQzLDI0Ljc0MmMwLDAuMjkzLDAuMDA5LDAuNTkxLDAuMDIyLDAuODkyCiAgYzAuMDkzLDIuNTk5LDAuNTgzLDUuMDk1LDEuNDE3LDcuNDMxQzQxLjk3NSw3My44OTMsNjAsOTYuNTI1LDYwLDk2LjUyNXMxOC4wMjUtMjIuNjMzLDIzLjMwMy0zOS45ODMKICBjMC44MzUtMi4zMzUsMS4zMjQtNC44MzUsMS40MTctNy40MzRjMC4wMTUtMC4zMDEsMC4wMjEtMC41OTgsMC4wMjEtMC44OTJDODQuNzQzLDM0LjU1Myw3My42NjUsMjMuNDc1LDYwLDIzLjQ3NXogTTYwLDYwLjMzNQogIGMtNi42OTIsMC0xMi4xMTgtNS40MjYtMTIuMTE4LTEyLjExOUM0Ny44ODMsNDEuNTI1LDUzLjMwOSwzNi4xLDYwLDM2LjFjNi42OTMsMCwxMi4xMTksNS40MjYsMTIuMTE5LDEyLjExNwogIEM3Mi4xMTksNTQuOTEsNjYuNjkzLDYwLjMzNSw2MCw2MC4zMzV6Ii8+Cjwvc3ZnPgo=");
}
.level-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8cmVjdCB4PSIyOC4yNTQiIHk9IjY3IiBmaWxsPSIjMjgyZDJmIiB3aWR0aD0iMTEuMjQ2IiBoZWlnaHQ9IjE2LjM5MyIvPgo8cmVjdCB4PSI0NS43NTQiIHk9IjU2Ljc1IiBmaWxsPSIjMjgyZDJmIiB3aWR0aD0iMTEuMjQ2IiBoZWlnaHQ9IjI2LjY0MyIvPgo8cmVjdCB4PSI2My4yNTQiIHk9IjQ2Ljc1IiBmaWxsPSIjMjgyZDJmIiB3aWR0aD0iMTEuMjQ2IiBoZWlnaHQ9IjM2LjY0MyIvPgo8cmVjdCB4PSI4MC41IiB5PSIzNi42MDgiIGZpbGw9IiNmMGYwZjciIHdpZHRoPSIxMS4yNDYiIGhlaWdodD0iNDYuNzg0Ii8+Cjwvc3ZnPgo=");
}
.level-white-icon {
    background-image: url("http://jogabo.com/assets/feature-level-white.svg");
}
.level-icon:hover, .level-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxyZWN0IHg9IjI4LjI1NCIgeT0iNjciIGZpbGw9IiMyODJkMmYiIHdpZHRoPSIxMS4yNDYiIGhlaWdodD0iMTYuMzkzIi8+CjxyZWN0IHg9IjQ1Ljc1NCIgeT0iNTYuNzUiIGZpbGw9IiMyODJkMmYiIHdpZHRoPSIxMS4yNDYiIGhlaWdodD0iMjYuNjQzIi8+CjxyZWN0IHg9IjYzLjI1NCIgeT0iNDYuNzUiIGZpbGw9IiMyODJkMmYiIHdpZHRoPSIxMS4yNDYiIGhlaWdodD0iMzYuNjQzIi8+CjxyZWN0IHg9IjgwLjUiIHk9IjM2LjYwOCIgZmlsbD0iI2YwZjBmNyIgd2lkdGg9IjExLjI0NiIgaGVpZ2h0PSI0Ni43ODQiLz4KPC9zdmc+Cg==");
}
.team-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8Y2lyY2xlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzI4MmQyZiIgc3Ryb2tlLXdpZHRoPSI5IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGN4PSI2MCIgY3k9IjYwIiByPSIzMi4yMSIvPgo8L3N2Zz4K");
}
.team-white-icon {
    background-image: url("http://jogabo.com/assets/feature-team-white.svg");
}
.team-icon:hover, .team-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjgyZDJmIiBzdHJva2Utd2lkdGg9IjkiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjYwIiBjeT0iNjAiIHI9IjMyLjIxIi8+Cjwvc3ZnPgo=");
}
.invite-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8dGV4dCB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAxIDI0LjI4NDIgODkuNzIxNykiIGZpbGw9IiMyODJkMmYiIGZvbnQtZmFtaWx5PSInSGVsdmV0aWNhTmV1ZS1Cb2xkJyIgZm9udC1zaXplPSIxMTkuMDU0MyI+KzwvdGV4dD4KPC9zdmc+Cg==");
}
.invite-white-icon {
    background-image: url("http://jogabo.com/assets/feature-invite-white.svg");
}
.invite-icon:hover, .invite-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgMjQuMjg0MiA4OS43MjE3KSIgZmlsbD0iIzI4MmQyZiIgZm9udC1mYW1pbHk9IidIZWx2ZXRpY2FOZXVlLUJvbGQnIiBmb250LXNpemU9IjExOS4wNTQzIj4rPC90ZXh0Pgo8L3N2Zz4K");
}
.share-icon {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMjBweCIgaGVpZ2h0PSIxMjBweCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyMCAxMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTIwLDYwYzAsMzMuMTM3LTI2Ljg2Myw2MC02MCw2MEMyNi44NjMsMTIwLDAsOTMuMTM3LDAsNjBDMCwyNi44NjMsMjQuODY0LDAsNjAsMAoJQzkzLjEzNywwLDEyMCwyNi44NjMsMTIwLDYweiIvPgo8ZyBpZD0iWW91cl9JY29uIj4KCTxwYXRoIGZpbGw9IiMyODJkMmYiIGQ9Ik03MC45MjQsNzEuOTU2Yy0xLjI4OSwwLTIuNTIsMC4yNTMtMy42NDgsMC43MDZsLTkuMDczLTkuMDM2YzAuNDA1LTEuMDY3LDAuNjI2LTIuMjIyLDAuNjI2LTMuNDI5CgkJYzAtMS4yNjEtMC4yNDMtMi40NjQtMC42ODEtMy41NjlsOS4xOTQtOS4xNTdjMS4xMDksMC40MzcsMi4zMTcsMC42OCwzLjU4MiwwLjY4YzUuMzg5LDAsOS43NTUtNC4zNSw5Ljc1NS05LjcxNQoJCXMtNC4zNjYtOS43MTQtOS43NTUtOS43MTRjLTUuMzg3LDAtOS43NTMsNC4zNS05Ljc1Myw5LjcxNGMwLDEuMjYsMC4yNDMsMi40NjQsMC42ODMsMy41NjlsLTkuMTk2LDkuMTU4CgkJYy0xLjEwOS0wLjQzNy0yLjMxNy0wLjY4LTMuNTgyLTAuNjhjLTUuMzg4LDAtOS43NTQsNC4zNS05Ljc1NCw5LjcxNWMwLDUuMzY2LDQuMzY3LDkuNzE0LDkuNzU0LDkuNzE0CgkJYzEuMzE4LDAsMi41NzYtMC4yNjIsMy43MjMtMC43MzRsOS4wMjgsOC45OTFjLTAuNDIzLDEuMDg3LTAuNjU1LDIuMjY4LTAuNjU1LDMuNTAzYzAsNS4zNjQsNC4zNjYsOS43MTQsOS43NTMsOS43MTQKCQljNS4zODgsMCw5Ljc1NC00LjM1LDkuNzU0LTkuNzE0QzgwLjY3OSw3Ni4zMDcsNzYuMzEyLDcxLjk1Niw3MC45MjQsNzEuOTU2eiIvPgo8L2c+Cjwvc3ZnPgo=");
}
.share-white-icon {
    background-image: url("http://jogabo.com/assets/feature-share-white.svg");
}
.share-icon:hover, .share-white-icon:hover {
    background-image: url("data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgogICB3aWR0aD0iMTIwcHgiIGhlaWdodD0iMTIwcHgiIHZpZXdCb3g9IjAgMCAxMjAgMTIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjAgMTIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyMCw2MGMwLDMzLjEzNy0yNi44NjMsNjAtNjAsNjBDMjYuODYzLDEyMCwwLDkzLjEzNywwLDYwQzAsMjYuODYzLDI0Ljg2NCwwLDYwLDAKICBDOTMuMTM3LDAsMTIwLDI2Ljg2MywxMjAsNjB6Ii8+CjxnIGlkPSJZb3VyX0ljb24iPgogIDxwYXRoIGZpbGw9IiMyODJkMmYiIGQ9Ik03MC45MjQsNzEuOTU2Yy0xLjI4OSwwLTIuNTIsMC4yNTMtMy42NDgsMC43MDZsLTkuMDczLTkuMDM2YzAuNDA1LTEuMDY3LDAuNjI2LTIuMjIyLDAuNjI2LTMuNDI5CiAgICBjMC0xLjI2MS0wLjI0My0yLjQ2NC0wLjY4MS0zLjU2OWw5LjE5NC05LjE1N2MxLjEwOSwwLjQzNywyLjMxNywwLjY4LDMuNTgyLDAuNjhjNS4zODksMCw5Ljc1NS00LjM1LDkuNzU1LTkuNzE1CiAgICBzLTQuMzY2LTkuNzE0LTkuNzU1LTkuNzE0Yy01LjM4NywwLTkuNzUzLDQuMzUtOS43NTMsOS43MTRjMCwxLjI2LDAuMjQzLDIuNDY0LDAuNjgzLDMuNTY5bC05LjE5Niw5LjE1OAogICAgYy0xLjEwOS0wLjQzNy0yLjMxNy0wLjY4LTMuNTgyLTAuNjhjLTUuMzg4LDAtOS43NTQsNC4zNS05Ljc1NCw5LjcxNWMwLDUuMzY2LDQuMzY3LDkuNzE0LDkuNzU0LDkuNzE0CiAgICBjMS4zMTgsMCwyLjU3Ni0wLjI2MiwzLjcyMy0wLjczNGw5LjAyOCw4Ljk5MWMtMC40MjMsMS4wODctMC42NTUsMi4yNjgtMC42NTUsMy41MDNjMCw1LjM2NCw0LjM2Niw5LjcxNCw5Ljc1Myw5LjcxNAogICAgYzUuMzg4LDAsOS43NTQtNC4zNSw5Ljc1NC05LjcxNEM4MC42NzksNzYuMzA3LDc2LjMxMiw3MS45NTYsNzAuOTI0LDcxLjk1NnoiLz4KPC9nPgo8L3N2Zz4K");
}
[class*='-icon'] {
    background-repeat: no-repeat;
    background-position: 50% 50%}
body {
    font-size: 14px;
}
h2 {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: center;
}
.content {
    padding: 0 2em;
    margin: auto;
    position: relative;
    z-index: 1;
}
p {
    text-align: justify;
    font-size: .83em;
}
.video {
    text-align: center;
    display: block;
}
.play {
    text-align: center;
    background-image: url("assets/play-button.1aef874f.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    display: inline-block;
    padding-left: 30px;
    -webkit-background-size: 24px;
    -moz-background-size: 24px;
    background-size: 24px;
    line-height: 24px;
    font-size: .9em;
    margin: auto;
    margin-top: 1em;
    font-weight: 500;
}
.play:hover {
    text-decoration: underline;
}
.play.blue {
    color: #00abea;
    background-image: url("assets/play-button-blue.f9767696.svg");
}
.page {
    position: relative;
}
.pointer {
    cursor: pointer;
}
.animate {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.phone {
    width: 70%}
#video-header, .video-wrap {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#video_background {
  background-image: url("image_site/background1.jpg");
  z-index: 0;

}
.page-header {
    background-image: url("assets/jogabo-landing-bg.59f5275b.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    height: 100%;
    margin: 0;
}
.page-header .betaDisclaimer {
    position: absolute;
    top: 0;
    height: 23px;
    font-size: 12px;
    background: #cff700;
    color: #20202a;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    z-index: 2;
}
.page-header .betaDisclaimer a {
    color: inherit;
    font-weight: bold;
}
.page-header .tagline {
    text-align: center;
}
.page-header .content {
    padding: 20px 0;
    color: #343458;
    height: 100%;
    position: relative;
}
.page-header .content .descriptive-content {
    height: 80%}
.page-header .content .description-container {
    width: 40%;
    float: right;
    margin-top: 20%;
    margin-right: 10px;
}
.page-header .content .app-descriptive {
    width: 100%;
    text-align: right;
    float: right;
    font-size: 20px;
    color: #343458;
    line-height: 24px;
}
.page-header .content .bar-separator {
    border-bottom: solid 1px rgba(151, 151, 151, 0.7);
    width: 70%;
    display: inline-block;
    float: right;
    margin: 10px 0;
}
.page-header .content .small {
    font-size: 14px;
}
.page-header .content .bold {
    font-weight: bold;
}
.page-header .content .sample-img {
    float: right;
    width: auto;
    height: 90%}
.page-header .content .download-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
.page-header .content .download-button {
    width: 90%;
    margin: 12px auto;
    background-image: -webkit-linear-gradient(transparent,  rgba(0, 0, 0, 0.05) 40%,  rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(transparent,  rgba(0, 0, 0, 0.05) 40%,  rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(transparent,  rgba(0, 0, 0, 0.05) 40%,  rgba(0, 0, 0, 0.1));
    background-image: -ms-linear-gradient(transparent,  rgba(0, 0, 0, 0.05) 40%,  rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(transparent,  rgba(0, 0, 0, 0.05) 40%,  rgba(0, 0, 0, 0.1));
    background-color: #00abea;
    color: #fff;
    display: inline-block;
    zoom: 1;
    border: 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 58px;
}
.page-header .logo {
    background-image: url("assets/logo.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 150px;
    -moz-background-size: 150px;
    background-size: 150px;
    width: 150px;
    height: 42px;
    margin: auto auto auto 14%;
}




.page-header nav {
    -webkit-transform: rotate3d(0, 0, 0, 0);
    -moz-transform: rotate3d(0, 0, 0, 0);
    -o-transform: rotate3d(0, 0, 0, 0);
    -ms-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
}
.page-header nav {
    display: none;
    position: relative;
    padding: 10px 1em;
    text-align: center;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
.page-header nav a {
    display: inline-block;
    width: 33.333333333333336%;
    color: inherit;
    text-decoration: none;
}
.page-header nav a.active, .page-header nav a:hover {
    font-weight: bold;
}
.page-header nav:after {
    position: absolute;
    display: block;
    z-index: 1;
    content: '';
    left: 16.6666666666667%;
    bottom: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
}
.page-every-game-count {
    display: none;
    padding-bottom: 20px;
    text-align: center;
    color: #333;
    background-color: #fff;
}
.page-every-game-count p {
    color: #9f9fab;
}
.page-every-game-count .phone {
    margin: 20px auto;
}
.page-games-around-you {
    display: none;
    background-color: #222;
    -webkit-background-size: auto 1400px d2d32;
    -moz-background-size: auto 1400px d2d32;
    background-size: auto 1400px d2d32;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
}
.page-games-around-you .content {
    overflow: hidden;
    height: 424px;
}
.page-games-around-you .before-phone {
    margin-bottom: -85px;
}
.page-games-around-you .phone {
    position: relative;
    margin: auto;
    bottom: -100px;
}
.page-organize {
    display: none;
    background: #20202a;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
}
.page-organize .phone {
    position: relative;
    top: 100px;
    margin: -80px auto 0;
}
.page-socialize {
    display: none;
    background-color: #fff;
}
.page-socialize h2 {
    color: #333;
}
.page-socialize p {
    color: #9f9fab;
}
.page-socialize .phone {
    margin: 20px auto 0;
}
.page-footer {
    display: none;
    background: #fff;
    color: #58585e;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 100px;
}
.page-footer .socials {
    text-align: center;
    padding-top: 20px;
}
.page-footer .icon {
    height: 32px;
    width: 50px;
    -webkit-background-size: 32px;
    -moz-background-size: 32px;
    background-size: 32px;
    display: inline-block;
}
.page-footer .copyright {
    padding-top: 10px;
    font-size: .8em;
}
.desktop {
    display: none;
}
.no-video video {
    display: none;
}
@media only screen and (min-device-width:300px) {
    .mobile {
    display: none;
}
.desktop, video {
    display: block;
}
html, body {
/*    min-width: 980px;*/
}
body {
    font-size: 16px;
}
/*.content {
    max-width: 77%;
    width: 77%;
    padding: 0;
}*/
h2 {
    padding-bottom: 20px;
    font-size: 36px;
}
p {
    font-size: 1.2em;
}
.box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.animate-ready .animate {
    visibility: visible;
}
.page-header {
    height: 100%;
    background-image: none;
}
.page {
    overflow: hidden;
}
.play {
    padding-left: 40px;
    -webkit-background-size: 30px;
    -moz-background-size: 30px;
    background-size: 30px;
    line-height: 30px;
    font-size: 1.4em;
}
.page-every-game-count, .page-games-around-you, .page-socialize {
    display: block;
}
.page-every-game-count h2, .page-games-around-you h2, .page-socialize h2, .page-every-game-count background-size: auto 1400px, .page-games-around-you background-size: auto 1400px, .page-socialize background-size: auto 1400px {
    text-align: left;
}
.sms {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -96px;
    width: 100%;
}
.sms h3 {
    font-size: 36px;
    padding: 0;
    text-align: center;
}
.sms h3 .subtagline {
        font-size: 25px;
        display: table;
/*       margin-top: 40px;
*/      margin-right: auto;
        margin-left: auto;
}
.sms h3 .center-link {
    float: left;
}
.sms h3 .center-link, .sms h3 .center-link:link, .sms h3 .center-link:focus, .sms h3 .center-link:hover, .sms h3 .center-link:active {
    text-decoration: none !important;
}
.sms h3 .img-button {
    border: 0;
}
.sms h3 .apple-img {
    width: 200px;
    height: 60px;
    margin: auto;
}
.sms h3 .google-img {
    width: 172px;
    height: 60px;
    margin: auto;
}
.sms .support-us {
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 13px;
    padding-right: 13px;
    display: inline-block;
    display: block;
    text-decoration: none;
    width: 484px;
    font-size: 18px;
    z-index: 4;
    background: rgba(32, 32, 42, 0.6);
    text-align: left;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.animatedArrow {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
}
.animatedArrow.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
}
.scrolldown {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}
.page-header {
    background-position: 0 0;
}
.page-header .descriptive-content {
    display: none;
}
.page-header .download-button-container {
    display: none;
}
.page-header .content {
    padding: 0;
}
.page-header .logo {
    background-image: url("assets/logo.svg");
    position: absolute;
    left: 0;
    top: 60px;
    -webkit-background-size: 220px;
    -moz-background-size: 220px;
    background-size: 220px;
    width: 240px;
    z-index: 1;
}
.page-header .tagline {
    text-align: center;
}
.page-header nav {
    display: block;
    width: 960px;
    margin: auto;
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    text-align: right;
}
.page-header nav a {
    width: auto;
    padding: 0 10px;
}
.page-header nav:after {
    display: none;
}
.page-header .tagline {
    font-size: 50px;
}
.page-every-game-count {
    padding-bottom: 0;
}
.page-every-game-count .content {
    height: 40%;
   /* padding-left: 33%;*/
    overflow: hidden;
}
.page-every-game-count .phone {
    width: 353px;
    height: 689px;
    position: absolute;
    top: 20px;
    left: 0;
}
.page-every-game-count .fos-video {
    width: 400px;
    margin: 10px auto 0;
    padding-bottom: 310px;
}
.skrollr .page-games-around-you {
    background-attachment: fixed;
    -webkit-background-size: auto 900px;
    -moz-background-size: auto 900px;
    background-size: auto 900px;
}
.skrollr .page-games-around-you .content {
    height: 800px;
    padding-top: 20%;
}
.skrollr .page-games-around-you .discover-game {
    top: 180px;
    right: 100px;
}
.page-games-around-you {
    background-image: url("image_site/background1dark.jpg");
}
.page-games-around-you .content {
    height: 600px;
    padding-top: 50px;
    padding-right: 35%;
}
.page-games-around-you .phone {
    width: 54%;
    height: 560px;
    z-index: 2;
    position: relative;
    right: 0;
    bottom: -120px;
}
.page-games-around-you .discover-game {
    position: absolute;
    top: 380px;
    right: 500px;
}
.page-games-around-you .pin {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: relative;
}
.page-games-around-you .pin img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    padding: 10px;
    width: 80px;
    height: 80px;
}
.page-games-around-you .game-activity {
    width: 217px;
    height: 111px;
}
.skrollr .page-organize {
    background-attachment: fixed;
    -webkit-background-size: 2200px auto;
    -moz-background-size:2200px auto;
    background-size: 2200px auto;
}
.page-organize {
    display: block;
    background-image: url("image_site/background2dark.jpg");
}
.page-organize .content {
    height: 800px;
    overflow: hidden;
}
.page-organize .before-phone {
    margin-bottom: -100px;
}
.page-organize .phone {
    width: 450px;
    height: 793px;
    /*background-image: url("assets/app.fb514e81.gif");
    -webkit-background-size: 350px;
    -moz-background-size: 350px;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 50% 69px;
    z-index: 1;*/
    top: 40px;
    left: 100px;
    margin: 0 auto;
}
.page-organize p {
    text-align: center;
    width: 66%;
    margin: auto;
}
.actions {
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 800px;
    right: 0;
}
.action {
    padding: 20px 0;
}
img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}
.label {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
}
.page-socialize {
    padding: 0;
}
.page-socialize .content {
    height: 700px;
    padding-left: 450px;
}
/*.page-socialize h2 {
    padding-top: 150px;
}*/
.page-socialize .timeline {
    position: relative;
    bottom: 0;
    width: 80%;
    height: 480px;
    background-image: url("image_site/pageactu.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    margin-left: 50px;

}


.page-socialize .phone {
    position: relative;
    width: 380px;
    height: 596px;
    bottom: 0;
    left: 0;
}
.page-footer {
    display: block;
    z-index: 4;
    padding: 0;
}
.page-footer .content {
    height: 100px;
    padding: 30px;
    zoom: 1;
}
.page-footer .content:before, .page-footer .content:after {
    content: "";
    display: table;
}
.page-footer .content:after {
    clear: both;
}
.page-footer .copyright {
    float: left;
    font-size: 1em;
    padding-top: 10px;
}
.page-footer .socials {
    height: 40px;
    padding-top: 0;
    float: right;
}
.page-footer .icon {
    height: 40px;
    width: 60px;
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    background-size: 40px;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
}@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
}@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
}@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}
}}@media only screen and (min-width:390px) {
    .page-header .content .download-button {
    width: 55%
    height:300px;
}
.page-header .content .download-button-container {
    padding-left: 20px;
    text-align: left;
}
.page-header .content .description-container {
    margin-top: 10%}
}@-moz-keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
}
30% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
}
70% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
}
100% {
    -webkit-box-shadow: none;
    box-shadow: none;
}
}@-webkit-keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
}
30% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
}
70% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
}
100% {
    -webkit-box-shadow: none;
    box-shadow: none;
}
}@-o-keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
}
30% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
}
70% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
}
100% {
    -webkit-box-shadow: none;
    box-shadow: none;
}
}@keyframes pulse {
    0% {
    -webkit-box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 3px rgba(204, 204, 204, 0.5);
}
30% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0.1);
}
70% {
    -webkit-box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
    box-shadow: 0 0 0 8px rgba(204, 204, 204, 0);
}
100% {
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
